.videoBlock {
  video {
    max-width: 100%;
    width: 100%;
    height: 100%;
    height: 200px;
    margin-bottom: 10px;
  }
  .videoBlock__title {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
  }
}
