.user__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  .user__detail-header {
    margin-bottom: 15px;
    img {
      width: 100%;
      max-width: 70px;
      height: 70px;
      border-radius: 7px;
    }
    .userName {
      text-align: center;
      margin-top: 15px;
      font-size: 15px;
      font-weight: 400;
    }
  }
}
